<!DOCTYPE html>
<html lang="en">

<head>
    <title>Register Student</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
</head>

<body>
    <div class="container">
        <form action="">
            <div class="row form-group">
                <label class="font-weight-bold">Enter Firstname</label>
                <input class="form-control" type="text" placeholder="Enter Firstname" />

                <label class="font-weight-bold">Enter Midname</label>
                <input class="form-control" type="text" placeholder="Enter Midname" />

                <label class="font-weight-bold">Enter Lastname</label>
                <input class="form-control" type="text" placeholder="Enter Surname" />
            </div>
            <div class="row form-group">
                <label class="font-weight-bold">Enter EmailID of Student</label>
                <input class="form-control" type="email" placeholder="Enter Email" />
            </div>
            <div class="row form-group">
                <label class="font-weight-bold">Enter Student ID (S1032190220)</label>
                <input class="form-control" type="text" placeholder="Enter Student ID" />
            </div>
            <div class="row form-group">
                <label class="font-weight-bold">Enter Phone Number Of Student</label>
                <input class="form-control" type="number" placeholder="Enter Contact Number"/>
            </div>
            <div class="row form-group">
                <label class="font-weight-bold">Enter Class Roll Number of Student</label>
                <input class="form-control" type="text" placeholder="Enter Roll Number" />
            </div>
            <div class="row form-group">
                <label class="font-weight-bold">Select Branch</label>
                <select class="form-control" id="">
                    <option value="1">Computer Science and Engineering</option>
                    <option value="2">Civil Engineering</option>
                    <option value="3">Information Technology</option>
                    <option value="4">Electronics and Telecommunication Engineering</option>
                    <option value="5">Mechnical Engineering</option>
                </select>
            </div>
            <div class="row form-group">
                <label class="font-weight-bold">Select Acadamic Year</label>
                <select class="form-control" id="">
                    <option value="1">First Year</option>
                    <option value="2">Second Year</option>
                    <option value="3">Third Year</option>
                    <option value="4">Final Year</option>
                </select>
            </div>
            <div class="row form-group">
                <button class="btn btn-success w-100">Add Student to Database</button>
            </div>

        </form>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>