@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Proza+Libre&display=swap');

.card-header{
    background-color: #dee2e6;
    font-weight: bolder;
    font-size: 20px;
    border: 1px solid #dee2e6;
    border-radius: 1.5rem;
}

.card-body{
    background-color: #fafafa;
}

label{
    font-weight: bold;
    font-size: 1.1rem;
}

*{
    font-family: 'Montserrat', sans-serif;
}